@{
    List<HarrisZhang.Repository.Entity.TheEntity> postEntityList = ViewBag.PostsList as List<HarrisZhang.Repository.Entity.TheEntity>;
}

@section scripts{
    <script>
        $(function () {

            $("img.lazy").lazyload({ effect: "fadeIn" })

            $('.talk-img-item').on('click', function () {

                $('.swiper-wrapper').empty();
                var items = $(this).closest('.talk-item').find('li');
                for (var i = 0; i < items.length; i++) {
                    var swipeItem = $("<div class=\"swiper-slide\"><div class=\"img-container\"><img src=\"" + $(items[i]).data('thisimg') + "\" /></div></div>");
                    $('.swiper-wrapper').append(swipeItem);
                }

                $('#talk-mask').show()
                $('html').css({ overflow: 'hidden' })

                var mySwiper = new Swiper('.swiper-container', {
                    loop: true,
                    speed: 1000,
                    keyboard: true,
                    mousewheel: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    }
                })
            })

            $(window).keydown(function (event) {
                if (event.keyCode == 27) {

                    $('#talk-mask').hide()
                    $('html').css({ overflow: '' })
                }
            })
        })
    </script>
}

<div class="main-content talks-page">

    @if (postEntityList != null)
    {
        <div class="talk-item-list">
            @foreach (var item in postEntityList)
            {
                <div class="talk-item">
                    @if (item.PostType == 1)
                    {
                        <a href="~/post/@item.Ename">
                            <div class="item-desc">
                                <p>@item.Summary</p>
                            </div>
                        </a>
                        <div class="talk-time">
                            <i class="fa fa-calendar"></i>
                            <span>@item.PublishTime.ToShortDateString()</span>
                        </div>
                    }
                    else
                    {
                        <p class="talk-content">@item.Content</p>
                        if (item.ImageList != null && item.ImageList.Count > 0)
                        {
                            <ul class="talk-image-list">
                                @foreach (var image in item.ImageList)
                                {
                                    <li class="talk-img-item" data-thisimg="@image"><img class="talk-image lazy" data-original="@image" /></li>
                                }
                            </ul>
                        }
                        <div class="talk-time">
                            <i class="fa fa-calendar"></i>
                            <span>@item.PublishTime.ToShortDateString()</span>
                        </div>
                    }
                </div>
            }
        </div>
    }

    @HarrisZhang.Controls.PadingControl.Paging(ViewBag.PageIndex, ViewBag.PageCount, 5, "/posts/{0}")
</div>

<div id="talk-mask" style="display:none;">
    <div class="swiper-container">
        <div class="swiper-wrapper">

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>